# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CCF A genmoic data\ProjectMain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
